.line-chart{
    width: 430px;
    height: 200px;
}

@media screen and (max-width: 992px) {
    .line-chart{
        width: 100%;
    }
}
@media screen and (max-width: 562px) {
    .line-chart{
        width: 100%;
    }
}